.facebook-button {
    background-color: #1877F2;

}

.facebook-button:hover {
    background-color: #0A46A6;
}

.eventbrite-button {
    background-color: #F8485E;

}

/* The hover effect */
.eventbrite-button:hover {
    background-color: #B61C2E;
}
